<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data List</title>
</head>
<body>
    <h1>Student Data List</h1>
    <div>
        <% for(var i=0; i < newItems.length; i++){ %>
        <div>
            <span>
                <%= newItems[i].name %>
            </span>
            <span>
                <%= newItems[i].gender %>
            </span>
        </div>
        <%}%>
    </div>
</body>
</html>
